// COLORS
$primary-color: #cdae00;
$secondary-color: #cd7400;

$white-color: #000;

$dark-grey: #000;
$light-grey: #fff;

$dark-blue-text: #fff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
